
@{
    ViewData["Title"] = "Show";
    Product product = ViewBag.Product as Product;
}

<h1>Show</h1>

@if (product != null)
{
    <p>Id:@product.Id Name:@product.Name Price:@product.Price</p>
}
else
{
    <p>No cached data found!</p>
}


